<link rel="stylesheet" href="/static/css/header.css">
<link href="/static/css/sign-in.css" rel="stylesheet">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <h3><a href="{% url 'home' %}" class="header-of-home-page">TopicTalk</a></h3>
    <div class="search-container">
        <form method="post">
            {% csrf_token %}
            {{ search_form }}
        </form>
    </div>
    <div class="col-md-3 text-end">
        <a class="btn btn-outline-primary me-2" href="">Profile</a>
        <a class="btn btn-outline-primary me-2" href="{% url 'login' %}">Login</a>
        <a class="btn btn-outline-primary me-2" href="{% url 'register' %}">Sign-up</a>

    </div>
</header>
{% block content %}
{% endblock %}
