<link rel="stylesheet" href="/static/css/header.css">
<link href="/static/css/sign-in.css" rel="stylesheet">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <h3><a href="{% url 'home' %}" class="header-of-home-page">TopicTalk</a></h3>
    <div class="search-container">
        <form method="POST" action="{% url 'search_view' %}">
            {% csrf_token %}
            <input type="text" name="searched" placeholder="Search by community...">
        </form>
    </div>
    <div class="col-md-3 text-end">
        {% if not request.user.is_authenticated %}
            <a class="btn btn-outline-primary me-2" href="{% url 'login' %}">Login</a>
            <a class="btn btn-outline-primary me-2" href="{% url 'register' %}">Sign-up</a>
        {% endif %}
        {% if request.user.is_authenticated %}
            <a class="btn btn-outline-primary me-2" href="{% url 'profile-details' request.user.pk %}">Profile</a>
            <form method="post" class="logout" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary me-2">Logout</button>
            </form>

        {% endif %}

    </div>
</header>
<main class="main-page">
    <div class="sidebar">
        <div class="category" id="section1">
            <a href="#">
                <span class="icon"><i class="fas fa-gamepad"></i></span>
                <span>Gaming</span>
                <span class="arrow">▶</span>
            </a>
            <div class="subcategories">
                <a href="{% url 'minecraft' %}"><span class="icon"></span> Minecraft</a>
                <a href="{% url 'league of legends' %}"><span class="icon"></span> League of Legends</a>
            </div>
        </div>

        <div class="category" id="section2">
            <a href="#">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span>Sports</span>
                <span class="arrow">▶</span>
            </a>
            <div class="subcategories">
                <a href="{% url 'nba' %}"><span class="icon"></span> NBA</a>
                <a href="{% url 'premier league' %}"><span class="icon"></span> Premier League</a>
            </div>
        </div>

        <div class="category" id="section3">
            <a href="#">
                <span class="icon"><i class="fab fa-bitcoin"></i></span>
                <span>Crypto</span>
                <span class="arrow">▶</span>
            </a>
            <div class="subcategories">
                <a href="{% url 'bitecoin' %}"><span class="icon"></span> Bitecoin</a>
                <a href="{% url 'litecoin' %}"><span class="icon"></span> Litecoin</a>
            </div>
        </div>
    </div>
</main>

{% block content %}
{% endblock %}
