html,
body {
    height: 100%;
}

main {
    padding-top: 100px;
}


.header-of-home-page {
    padding-left: 30px;
    text-decoration: none;
    color: #FAF9F6;
}

.header-of-home-page:hover {
    color: #4169E1;
}

.btn-outline-primary {
    color: #4169E1;
    border: 1px solid #4169E1;
}

.btn-outline-primary:hover {
    background-color: #4169E1;
    border: #4169E1;
}

.btn-primary {
    background-color: #4169E1;
    border: #4169E1;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 20%;
    padding-left: 21%;
    padding-right: 10%;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 20px; /* Adjust padding for height */
    height: 40px; /* Adjust height as needed */
    font-size: 18px;
    border: 1px solid #FAF9F6;
    border-radius: 50px;
    text-decoration: none;
    width: 450px;
    margin-left: 10%;
    margin-right: 10%;
}

.col-md-3 {
    padding-right: 20px;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b3035;
}

.topic {
    font-size: 20px;
    color: white;
}

.edit-profile-container {
    max-width: 600px;
    margin: 1px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.edit-profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.edit-profile-content {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

.save-button {
    background-color: #4169E1;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #4169E1;
}

.email-input {
    margin-bottom: 10px;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

