body {
    background-color: #2b3035;
}

.content {
    margin-left: 250px;
    padding: 20px;
}


main {
    background-color: #FDFCFA;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;

}

section {
    margin-bottom: 20px;
}

h2 {
    color: #2b3035;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #2b3035;
}

input, textarea {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;

}


textarea {
    width: 100%;
}

input {
    border: 1px solid grey;

}

input[type="file"] {
    margin-top: 5px;

}

input[type="submit"], button {
    background-color: #4169E1;
    color: #fff;
    cursor: pointer;
    border: 1px solid #4169E1;
    font-size: 20px;
}

button {
    background-color: #4169E1;
    border: 1px solid #4169E1;
    padding: 6px;
    border-radius: 1%;
    font-size: 20px;
    margin-right: 20px;
}

.button-section {
    display: flex;
    padding-bottom: 20px;
}


input {
    border: 1px solid grey;
}

.container {
    display: flex;
   justify-content: center;

}

.section{
    padding: 10px;
}

.border-widget {
    border: 1px solid grey;
}

.main-page{
    padding-top: 100px;
    background-color: #2b3035;
}

