body{
  background-color: #2b3035;
}

main {
    padding: 20px;
  }

  .post {
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
  }

  .post-title {
    font-size: 20px;
  }

  .post-image {
    width: 100%;
    max-width: 700px;
    height: 600px;
    border-radius: 20px;
    margin-bottom: 30px;
  }

  .post-user {
    display: flex;
    align-items: center;
  }

  .user-image {
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-name {
    font-weight: bold;
  }

  .post-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #4169E1;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .button:hover {
    background-color: #005999;
  }

  .posted-hours{
    font-size: 10px;
  }


  .count {
    margin-left: 5px;
  }




  .container {
    width: 33%;
    margin: 50px auto;
    background-color: #FAF9F6;
    padding: 30px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    height: 316px;
}

h1 {
    color: #333;
}

/* Comment form styles */


label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

#comment {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  height: 50%;
}

button {
    padding: 12px 20px;
    background-color: #4169E1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4169E1;
}

.comments-container {
  max-width: 600px;
  margin: 20px auto;
}

.comment {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.comment-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #666;
}

.comment-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.action-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.like-btn {
  background-color: #3498db;
  color: #fff;
}

.comment-btn {
  background-color: #2ecc71;
  color: #fff;
}

.like-count {
  margin-top: 5px;
  color: #666;
}