main {
    padding-top: 100px;
}

section {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.no-results-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    font-family: Arial, sans-serif;
    margin-bottom: 25%;
}

.no-results-image {
    max-width: 40%;
    height: auto;
    margin-bottom: 15px;
}

.no-result-text {
    font-size: 24px;
}