html,
body {
    height: 100%;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b3035;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
    padding-top: 8%;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

input[type="email"] {
    margin-bottom: -1px;
    margin-top: 10px;
}

input[type="password"] {
    margin-bottom: 10px;
    margin-top: 10px;
}

.h3.mb-3.fw-normal {
    color: #FAF9F6;
}

.btn.btn-primary {
    margin-top: 10px;
}