body{
  background-color: #2b3035;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
  padding-top: 8%;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.h3.mb-3.fw-normal{
  color: #FAF9F6;
}

.form-check-label{
  color: #FAF9F6;
}